{% extends 'base.html.twig' %}

{% block title %}LineStyle index{% endblock %}

{% block body %}
    <h1>LineStyle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PoliceName</th>
                <th>PostPostScriptName</th>
                <th>FontColor</th>
                <th>Majuscule</th>
                <th>FontSize</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for line_style in line_styles %}
            <tr>
                <td>{{ line_style.id }}</td>
                <td>{{ line_style.policeName }}</td>
                <td>{{ line_style.postPostScriptName }}</td>
                <td>{{ line_style.fontColor }}</td>
                <td>{{ line_style.majuscule ? 'Yes' : 'No' }}</td>
                <td>{{ line_style.fontSize }}</td>
                <td>
                    <a href="{{ path('design_line_style_show', {'id': line_style.id}) }}">show</a>
                    <a href="{{ path('design_line_style_edit', {'id': line_style.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('design_line_style_new') }}">Create new</a>
{% endblock %}
