{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('design_design_index') }}
{% endblock %}

{% block title %}Design index{% endblock %}

{% block body %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Design index</h1>
        <p class="lead"></p>
    </div>

    <div class="container-fluid">
        <div class="card-deck mb-3 text-center">

            <div class="card mb-8 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Design List</h4>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="form-group col-4">
                            <select multiple class="js-example-basic-single js-states form-control select-to-apply"
                                    id="selecttag" data-allow-clear="1">
                                {% for tag in tags %}
                                    {% if tag.children|length > 0 %}

                                        <optgroup label="{{ tag.name }}">
                                            {% for child in tag.children %}
                                                <option value="{{ child.id }}">{{ child.name }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% elseif tag.parents|length == 0 %}
                                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group col-2">
                            <button id="applytag" class="btn btn-primary btn-block">Apply Tags</button>
                        </div>

                        <div id="activetags" class="form-group col-6 activecontainer">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-4">
                            <select multiple="multiple"
                                    class="js-example-basic-single js-states form-control select-to-apply"
                                    id="selecttemplate" data-allow-clear="1">
                                <optgroup label="Template Category">

                                    {% for templateCategory in templateCategories %}
                                        <option type="templatecategory"
                                                value="{{ templateCategory.id }}">{{ templateCategory.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Template">
                                    {% for template in templates %}
                                        <option type="template" value="{{ template.id }}"
                                                linecount="{{ template.linecount }}">{{ template.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <button id="applytemplate" class="btn btn-primary btn-block">Apply Templates</button>
                        </div>

                        <div id="activetemplates" class="form-group col-6 activecontainer"></div>
                    </div>

                    <div class="row">
                        <div class="form-group col-4">
                            <select multiple="multiple"
                                    class="js-example-basic-single js-states form-control select-to-apply"
                                    id="selectmodel" data-allow-clear="1">
                                <optgroup label="Model Category">

                                    {% for modelCategory in modelCategories %}
                                        <option type="modelcategory"
                                                value="{{ modelCategory.id }}">{{ modelCategory.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Model">
                                    {% for model in models %}
                                        <option type="model" value="{{ model.id }}">{{ model.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <button id="applymodel" class="btn btn-primary btn-block">Apply Models</button>
                        </div>

                        <div id="activemodels" class="form-group col-6 activecontainer"></div>
                    </div>

                    <div class="row">
                        <div class="form-group col-2">
                            <button id="suggesttags" class="btn btn-primary btn-block">Suggest Tags</button>
                            <input type="number" id="fromtag" min="1" step="100" class="form-control mt-2">
                        </div>
                        <div id="suggestedtags" class="form-group col-10 activecontainer"></div>
                    </div>

                    <div class="row">
                        <div id="activeselection" class="form-group col-4"></div>
                        <div id="activechange" class="form-group col-4"></div>
                        <div class="form-group col-4">
                            <button id="savebtn" href="{{ path('design_design_savedesign') }}"
                                    class="btn btn-primary btn-block">Save
                            </button>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-2">
                            <button id="unfilterall" class="btn btn-primary btn-block">Unfilter All</button>
                            <button id="clearall" class="btn btn-primary btn-block">Clear All</button>

                        </div>
                        <div class="form-group col-2">
                            <button id="uncheckall" class="btn btn-primary btn-block">UncheckAll</button>
                            <button id="checkall" class="btn btn-primary btn-block">CheckAll</button>
                        </div>
                        <div class="form-group col-2">
                            <button id="viewjson" class="btn btn-primary btn-block">View Json Console</button>
                            <button id="refresh" class="btn btn-primary btn-block">Full Refresh</button>
                        </div>

                        <div class="form-group col-2">
                            <button id="deleteselection" class="btn btn-primary btn-block">Delete Selection</button>
                        </div>

                        <div class="form-group col-2">
                            <button id="linktagtodesign" href="{{ path('design_design_linktagtodesign') }}"
                                    class="btn btn-primary btn-block">Link Tag To Design
                            </button>
                            <button id="smartcuttext" href="{{ path('design_text_smartcuttext') }}"
                                    class="btn btn-primary btn-block">Smart Cut Text
                            </button>

                        </div>
                    </div>

                    <div class="modal fade" id="cutmodal" tabindex="-1" role="dialog" aria-labelledby="cutmodal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cuttitle">Cut title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="cutparts" id="cutid"></label><textarea class="form-control" id="cutparts" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="savecut" href="{{ path("design_cut_savecut") }}">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="table"
                           data-toggle="table"
                           data-search="true"
                           data-filter-control="true"
                            {# data-show-export="true" #}
                            {# data-click-to-select="true" #}
                           data-url="http://127.0.0.1:8000/design/design/gettextandimage"
                           data-unique-id="id"
                           data-toolbar="#toolbar"
                           data-show-columns="true"
                           data-id-field="id"
                           data-select-item-name="id"
                           data-loading-template=" "
                           data-pagination="true"
                           data-maintain-meta-data="true"
                           data-page-size="100"
                           data-filter-strict-search="true"
                           class="table table-sm table-bordered table-striped table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th data-field="change">Change</th>
                            <th data-field="state" data-checkbox="true">
                                {# <label> #}
                                {# <input type="checkbox" value="all" name="checkedall" id="checkedall"/> #}
                                {# </label> #}
                            </th>
                            <th data-field="id">Id</th>
                            <th data-field="name" data-filter-control="input" data-sortable="true" data-width="300">
                                Name
                            </th>
                            <th data-field="type" data-filter-control="input" data-sortable="true" data-width="50">
                                Type
                            </th>
                            <th data-field="tags" data-filter-control="input" data-sortable="true" data-width="400"
                                data-formatter="tagformatter">
                                Tags
                            </th>
                            <th data-field="models" data-filter-control="input" data-sortable="true" data-width="200"
                                data-formatter="modelformatter">
                                Models
                            </th>
                            <th data-field="templates" data-filter-control="input" data-sortable="true"
                                data-width="300" data-formatter="templateformatter">Templates
                            </th>
                            <th data-field="cuts" data-filter-control="input" data-sortable="true" data-width="100"
                                data-formatter="cutsformatter" data-class="cutscolumn">
                                Cuts
                            </th>

                            <th data-field="genre" data-filter-control="input" data-sortable="true"
                                data-visible="false">Genre
                            </th>
                            <th data-field="wordcount" data-filter-control="input" data-sortable="true"
                                data-visible="false">Nb mots
                            </th>
                            <th data-field="length" data-filter-control="input" data-sortable="true"
                                data-visible="false">Nb Car
                            </th>
                            <th data-field="src" data-filter-control="input" data-sortable="true" data-visible="false">
                                Src
                            </th>
                            <th data-field="height" data-filter-control="input" data-sortable="true"
                                data-visible="false">Height
                            </th>
                            <th data-field="width" data-filter-control="input" data-sortable="true"
                                data-visible="false">Width
                            </th>
                            <th data-field="size" data-filter-control="input" data-sortable="true" data-visible="false">
                                Size
                            </th>
                            <th data-field="format" data-filter-control="input" data-sortable="true"
                                data-visible="false">Format
                            </th>

                            <th data-field="actions" data-width="150" data-formatter="actionformatter">Actions</th>
                        </tr>
                        </thead>

                    </table>

                    <a href="{{ path('design_design_new') }}" class="btn btn-primary">Create new</a>
                    <a href="{{ path('design_text_new') }}" class="btn btn-secondary">Create new Text</a>
                    <a href="{{ path('design_image_new') }}" class="btn btn-dark">Create new Img</a>

                </div>
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                         width="24" height="24">
                    <small class="d-block mb-3 text-muted">© 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script>

        $('#selecttag').select2({
            theme: "classic",
        });
        $('#selecttemplate').select2({
            theme: "classic",
        });
        $('#selectmodel').select2({
            theme: "classic",
        });

        function tagformatter(tags) {
            let taglist = '';
            $.each(tags, function (t, tag) {
                taglist += "<span class='taglabel' tagid='" + tag.id + "' tagname='" + tag.name + "'><span class='closebtn unlinktagbtn'>×</span>" + tag.name + "</span>";
            })
            return taglist;
        }

        function templateformatter(templates) {
            let templatelist = '';
            $.each(templates, function (t, template) {
                templatelist += "<span class='templatelabel' templateid='" + template.id + "' templatename='" + template.name + "' linecount='" + template.linecount + "'><span class='closebtn unlinktemplatebtn'>×</span>" + template.name + "<span class='badge badge-secondary'>" + template.linecount + "</span></span>";
            })
            return templatelist;
        }

        function modelformatter(models) {
            let modellist = '';
            $.each(models, function (t, model) {
                modellist += "<span class='modellabel' modelid='" + model.id + "' modelname='" + model.name + "'><span class='closebtn unlinkmodelbtn'>×</span>" + model.name + "</span>";
            })
            return modellist;
        }

        function actionformatter(action, row) {
            if (row.type === 'Txt') {
                return "<a href='/design/text/" + row.id + "'><span class='faicon'><i class='fas fa-eye'></i></span></a> " +
                    "<a href='/design/text/" + row.id + "/edit'><span class='faicon'><i class='fas fa-edit'></i></span></a> " +
                    "<a href='/design/text/delete/" + row.id + "'><span class='faicon'><i class='fas fa-trash-alt'></i></span></a>";
            } else if (row.type === "Img") {
                return "<a href='/design/image/" + row.id + "'><span class='faicon'><i class='fas fa-eye'></i></span></a> " +
                    "<a href='/design/image/" + row.id + "/edit'><span class='faicon'><i class='fas fa-edit'></i></span></a> " +
                    "<a href='/design/image/delete/" + row.id + "'><span class='faicon'><i class='fas fa-trash-alt'></i></span></a>";
            }
        }

        function cutsformatter(cuts, row) {
            let cutslist = "";
            let sameline = false
            $.each(cuts, function (c, cut) {
                sameline = false
                $.each(row.templates, function (t, template) {
                    if (template.linecount === cut.linecount) {
                        sameline = true
                    }
                })

                if (sameline === true) {
                    cutslist += "<span class=\"badge badge-success cut\" cutid='" + cut.id + "' cutparts='"+ cut.parts +"' title=\"" + cut.parts.join("\r\n") + "\">" + cut.linecount + "</span>"
                } else {
                    cutslist += "<span class=\"badge badge-danger cut\" cutid='" + cut.id + "' cutparts='"+ cut.parts +"' title=\"" + cut.parts.join("\r\n") + "\">" + cut.linecount + "</span>"
                }
            })
            return cutslist;
        }


    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('global_density') }}
    {{ encore_entry_script_tags('design_design_index') }}



{% endblock %}

