{% macro printLineStyle(linestyle, index) %}
    <div class="form-group row">
        <a href="#" class="remove_linestyle pull-right">
            <span class="fa fa-close"></span>
        </a>
        <label class="col-sm-2 col-form-label">Line {{ form_label(linestyle) }}</label>
        <div class="col-sm-10 row">
            <div class="col-sm-5">
                {{ form_widget(linestyle.font, {'attr': {'class': 'form-control template_linestyle_font', 'linenumber':index}}) }}
            </div>
            <div class="col-sm-5">
                {{ form_widget(linestyle.fontColor, {'attr': {'class': 'form-control template_linestyle_fontcolor', 'linenumber':index}}) }}
            </div>
            <div class="col-sm-2">
                {{ form_widget(linestyle.fontSize, {'attr': {'class': 'form-control template_linestyle_fontsize', 'linenumber':index}}) }}
            </div>
            <div class="col-sm-3 text-left">
                {{ form_widget(linestyle.uppercase, {'attr': {'class': 'form-control template_linestyle_uppercase', 'linenumber':index}}) }}
            </div>
            <div class="col-sm-3 text-left">
                {{ form_widget(linestyle.lowercase, {'attr': {'class': 'form-control template_linestyle_lowercase', 'linenumber':index}}) }}
            </div>
            <div class="col-sm-3 text-left">
                {{ form_widget(linestyle.capitalize, {'attr': {'class': 'form-control template_linestyle_capitalize', 'linenumber':index}}) }}
            </div>
            <div class="col-sm-3 text-left">

            </div>
            <div class="col-sm-3 text-left">
                {{ form_widget(linestyle.bold, {'attr': {'class': 'form-control template_linestyle_bold', 'linenumber':index}}) }}
            </div>
            <div class="col-sm-3 text-left">
                {{ form_widget(linestyle.italic, {'attr': {'class': 'form-control template_linestyle_italic', 'linenumber':index}}) }}
            </div>
            <div class="col-sm-3 text-left">
                {{ form_widget(linestyle.underline, {'attr': {'class': 'form-control template_linestyle_underline', 'linenumber':index}}) }}
            </div>
            <div class="col-sm-3 text-left">
                {{ form_widget(linestyle.linethrough, {'attr': {'class': 'form-control template_linestyle_linethrough', 'linenumber':index}}) }}
            </div>

        </div>
    </div>
{% endmacro %}

{% import _self as newtemplatemacros %}


{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('design_template_new') }}
{% endblock %}

{% block title %}Template index{% endblock %}

{% block body %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">New Template</h1>
        <p class="lead"></p>
    </div>

    <div class="container-fluid">
        <div class="card-deck mb-3 text-center">

            <div class="card mb-8 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Create New Template</h4>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-6">
                            {{ form_start(form) }}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">{{ form_label(form.name) }}</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Template name'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">
                                    {{ form_label(form.linecount) }}
                                </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.linecount, {'attr': {'class': 'form-control', 'placeholder': 'Number of line of this template', 'max': 5, 'min':1, 'value':1}}) }}
                                </div>
                            </div>
                            {# <div class="row linestyles_wrapper"> #}
                            <div id="linestyles_wrapper" class="linestyles_wrapper" data-prototype="{{ newtemplatemacros.printLineStyle(form.lineStyles.vars.prototype, 0)|e('html_attr') }}" data-index="{{ form.lineStyles|length }}">

                                {% for key, linestyle in form.lineStyles %}
                                    {{ newtemplatemacros.printLineStyle(linestyle, key) }}
                                {% endfor %}
                            </div>
                            {# </div> #}

                            <button type="button" class="btn btn-primary add_new_linestyle">Add a Linestyle</button>

                            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

                            {{ form_end(form) }}
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="textsample">Text Sample</label>
                                <textarea class="form-control" id="textsample" rows="5"
                                          placeholder="Enter your text sample here">Enter <br>your <br>text <br>sample <br>here</textarea>
                            </div>
                            <div class="form-group border border-dark h-50 w-100 d-inline-block">
                                <div id="line1" class="my-auto"></div>
                                <div id="line2" class="my-auto"></div>
                                <div id="line3" class="my-auto"></div>
                                <div id="line4" class="my-auto"></div>
                                <div id="line5" class="my-auto"></div>
                            </div>
                        </div>

                    </div>

                    <a href="{{ path('design_template_index') }}" class="btn btn-dark">back to list</a>

                </div>
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                         width="24" height="24">
                    <small class="d-block mb-3 text-muted">© 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('design_template_new') }}

{% endblock %}

